ruff
odfpy
openpyxl
fastapi==0.112.0
langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.29
langchain-openai==0.1.21
langchain-text-splitters==0.2.2
langsmith==0.1.98
openai==1.40.3
pandas==2.2.2
pydantic==2.8.2
pydantic_core==2.20.1
gradio
streamlit

#From fileserver
annotated-types==0.6.0
anyio==4.2.0
asyncpg==0.29.0
certifi==2024.7.4
cffi==1.16.0
click==8.1.7
cryptography==42.0.5
dnspython==2.4.2
email_validator==2.2.0
fastapi==0.112.0
fastapi-cli==0.0.5
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
idna==3.7
Jinja2==3.1.4
loguru==0.7.2
markdown-it-py==2.2.0
MarkupSafe==2.1.3
mdurl==0.1.0
pip==24.0
psycopg2-binary==2.9.9
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
pydantic-settings==2.4.0
Pygments==2.15.1
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
rich==13.7.1
setuptools==69.5.1
shellingham==1.5.0
sniffio==1.3.0
SQLAlchemy==2.0.32
sqlmodel==0.0.21
starlette==0.37.2
typer==0.12.3
typer-slim==0.12.3
uvicorn==0.20.0
uvloop==0.19.0
watchfiles==0.22.0
websockets==12.0
Werkzeug==3.0.3
wheel==0.43.0
redis
aioredis

#From fileserver
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
docx2txt==0.8
transformers
urllib3
Werkzeug==3.0.3
uvicorn==0.20.0